@{
    ViewBag.Title = "Admin panel";
}



    <div class="services">
        <div class="container">
            <div class="text-center">

              

                    @if (ViewBag.Manager == "Yes" || ViewBag.displayMenu == "Yes")
                    {
                        if (ViewBag.Manager == "Yes")
                        {
                            <h2>Panel za Menadzera</h2>

                        }
                        else
                        {
                            <h2>Panel za Administratora</h2>
                        }
                    <h3>
                        <li>@Html.ActionLink("Upravljanje dobavljačima", "Index", "dobavljaci")</li>
                    </h3>
                    <h3>
                        <li>@Html.ActionLink("Upravljanje proizvodima", "Index", "Proizvodi")</li>
                    </h3>
                    <h3>
                        <li>@Html.ActionLink("Upravljanje tipovima proizvoda", "Index", "tipProizvoda")</li>
                    </h3>

                    }
                   @if (ViewBag.Employee == "Yes" || ViewBag.displayMenu == "Yes")
                   {
                    if (ViewBag.Employee == "Yes")
                    {
                        <h2>Panel za Zaposlenika</h2>

                    }
                    <h3>
                        <li>@Html.ActionLink("Upravljanje uslugama", "Index", "usluge")</li>
                    </h3>
                    <h3>
                        <li>@Html.ActionLink("Upravljanje paketima usluga", "Index", "paketi")</li>
                    </h3>
                    <h3>
                        <li>@Html.ActionLink("Narudžbe usluga", "Narudzbe", "Korisnici")</li>
                    </h3>
                    <h3>
                        <li>@Html.ActionLink("Narudžbe paketa", "NarudzbePaketa", "Korisnici")</li>

                        </h3>
                      }

</div>
            </div>
        </div>
