@{
    ViewBag.Title = "Admin panel";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Panel za administratore</h1>


    <div class="container">
        <h3>
            <li>@Html.ActionLink("Upravljanje dobavljačima", "Index", "dobavljaci")</li>
        </h3>
        <h3>
            <li>@Html.ActionLink("Upravljanje uslugama", "Index", "usluge")</li>
        </h3>
        <h3>
            <li>@Html.ActionLink("Upravljanje paketima usluga", "Index", "paketi")</li>
        </h3>
        <h3>
            <li>@Html.ActionLink("Upravljanje proizvodima", "Index", "proizvodi")</li>
        </h3>
        <h3>
            <li>@Html.ActionLink("Upravljanje tipovima proizvoda", "Index", "tipProizvoda")</li>
        </h3>
      
        </div>
        }
        else
        {
        <h2>  Dobrodosao/la <strong>@ViewBag.Name</strong> :) . </h2>

        }
