@model telNet.Models.ponuda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ponuda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dobavljac.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dobavljac.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusPonude.nazivStatusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusPonude.nazivStatusa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ponudaProizvoda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ponudaProizvoda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ukupnaCijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ukupnaCijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datumIsporuke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datumIsporuke)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ponudaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
