@model IEnumerable<telNet.Models.ponuda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dobavljac.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusPonude.nazivStatusa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ponudaProizvoda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ukupnaCijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumIsporuke)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dobavljac.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusPonude.nazivStatusa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ponudaProizvoda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ukupnaCijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumIsporuke)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ponudaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ponudaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ponudaID })
        </td>
    </tr>
}

</table>
