@model telNet.Models.usluga

@{
    ViewBag.Title = "Brisanje usluge";
}

<div class="container">
    <h2>Delete</h2>

    <h3>Jeste li sigurni da želite izbrisati uslugu?</h3>
    <div>
        <h4>usluga</h4>
        <hr />
        <dl class="dl-horizontal">
           

            <dt>
                @Html.DisplayNameFor(model => model.nazivUsluge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nazivUsluge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipUsluge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipUsluge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cijenaUsluge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cijenaUsluge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.opis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.opis)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Izbrisi" class="btn btn-default" /> |
                @Html.ActionLink("Vrati se nazad", "Index")
            </div>
        }
    </div>
    </div>