@model telNet.Models.paket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>paket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.katalog.nazivKataloga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.katalog.nazivKataloga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazivPaketa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazivPaketa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cijenaPaketa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijenaPaketa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.paketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
