@model TelNet.ViewModels.PaketViewModel

@{
    ViewBag.Title = "Paketi";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        <th>
           Naziv Paketa
        </th>
        <th>
            Cijena Paketa
        </th>
        <th>
           Opis
        </th>
        <th>
            Usluge
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Paketi)
{
    string selectedRow = "";
    if (item.paketID == ViewBag.paketID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">

         <td>
            @Html.DisplayFor(modelItem => item.nazivPaketa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijenaPaketa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @{
                foreach (var usluga in item.Usluge)
                {
                    @usluga.uslugaID @:  @usluga.nazivUsluge <br />
        }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.paketID }) |
            @Html.ActionLink("Details", "Details", new { id = item.paketID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.paketID })
        </td>
    </tr>
}

</table>
