@model TelNet.ViewModels.PaketViewModel

@{
    ViewBag.Title = "Paketi";
}

<div class="services">
    <div class="container">
      
            <h2>Paketi usluga</h2>

            <p>
                @Html.ActionLink("Kreiraj novi paket", "Create")
            </p>
            <table class="table">
                <tr>

                    <th>
                        Naziv Paketa
                    </th>
                    <th>
                        Cijena Paketa
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        Usluge
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Paketi)
                {
                    string selectedRow = "";
                    if (item.paketID == ViewBag.paketID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">

                        <td>
                            @Html.DisplayFor(modelItem => item.nazivPaketa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cijenaPaketa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.opis)
                        </td>
                        <td>
                            @{
                                foreach (var usluga in item.Usluge)
                                {
                                    @:  @usluga.nazivUsluge <br />
        }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Izmjena", "Edit", new { id = item.paketID }) |
                            @Html.ActionLink("Brisanje", "Delete", new { id = item.paketID })
                        </td>
                    </tr>
                                }

            </table>
            </div>
</div>